{% extends 'base.html' %}

{% block content %}
<div class="form_header">
    <span>Login</span>
</div>
{{data.user}}
<div class="inputController" >
    <input type="email" name="email" id="email" value="" placeholder="email">
</div>
<div class="inputController">
    <input type="password" name="password" id="password" value=""  placeholder="password">
</div>
<div class="inputController">
    <input type="submit" value="Login"/>
</div>
<div class="inputController a">
    <a href='#'>Don;t have an  account create one</a>
</div>
{{error}}
{{user}}
{% endblock content %}

